DATABASE_URL=postgresql://user:password@host/database?sslmode=require
FIREBASE_CREDENTIALS_GUITA='{"type":"service_account","project_id":"guita-fa387","private_key_id":"...","private_key":"...","client_email":"...","client_id":"...","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"..."}'

HOST=0.0.0.0
PORT=8000
RELOAD=true

CORS_ALLOWED_ORIGINS=http://localhost:5173